body {
    margin: 0;
}

.navbar {
    height: 100px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    /* text-align: center; */
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card {
    width: 500px;
    border: 1px solid #e1e1e1;
}
.contact-card h3,
.contact-card p {
    text-align: center
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 20px;
    margin-top: 10px;
}
.price {
    color: grey;
    font-size: 22px;
}